*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem;
}
button {
    cursor: pointer;
}


/* HELPERS */
.flex {
    display: flex;
}
.justify-content{
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* list helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
